.calendar-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.month-year-display {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.control-button {
    font-size: 1.2rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: 3px;
    padding: 1px;
    transition: color 0.1s;
    margin-right: 10px;
}

.control-button:hover {
    color: #fd0036;
}

.calendar-grid {
    border-collapse: collapse;
    width: 50%;
}

.day-header-row th {
    text-align: center;
    padding: 5px;
    background-color: #00b1fd;
    font-weight: bold;
}


td {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.current-month-day {
    background-color: #000305;
    color: #fff;
    border-radius: 1%;
}

.current-month-day:hover {
    background-color: #010315;
}

.textContext {
    align-items: start;
}


